django >= 4.2.1, < 5.0
django-environ >= 0.10.0
django-extensions >= 3.2.1
django-rich >= 1.5.0
docutils >= 0.20.1
pillow >= 9.5.0
rich >= 13.3.3

# For production or any non-local-dev work:
gunicorn >= 20.1.0
setproctitle >= 1.3.2

# If using celery, uncomment:
# celery >= 5.2.7
# django-celery-beat >= 2.5.0
# hiredis >= 2.2.2
# redis >= 4.5.4
