:root {
  /* Default variable for "light mode" */
  --border-color: #ccc;
  --color: black;
  --color-inverse: white;
  --background-color: ghostwhite;
  --background-color-inverse: darkslategray;
  --border-radius: 0.25rem;
  --link-color: darkgreen;
  --link-color-inverse: greenyellow;
  --symbol-button-size: 1.5em;
  --max-list-column-width: 25%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.jotter_app_header {
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 0.25rem;
}
.jotter_app_header h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 1.5;
}
/*
#note-ui is the main UI container for the app.
TODO Mobile 1-col layout
*/
.note-ui {
  display: flex;
  flex-direction: row;
  height: 90vh;
}
.note-ui-link {
  text-decoration: none;
  color: var(--link-color);
}
.notebook-list .note-ui-link {
  color: var(--link-color-inverse);
}
.note-ui h2 {
  margin: 0;
  padding: 0;
}
.note-ui > section {
  padding: 0.5rem;
}
.note-ui > section > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}
.note-ui li {
  list-style: none;
  border-top: 1px solid #ccc;
  padding: 0.5rem;
}
.notebook-list {
  /* grid-area: notebook-list; */
  flex-grow: 1;
  max-width: var(--max-list-column-width);
  max-height: 100%;
  overflow-y: scroll;
  background-color: var(--background-color-inverse);
  color: var(--color-inverse);
}
.notebook-list li.current {
  background-color: slategray;
}
.note-list {
  /* grid-area: note-list; */
  flex-grow: 1;
  max-width: var(--max-list-column-width);
  max-height: 100%;
  overflow-y: scroll;
}
.note-detail {
  /* grid-area: note-detail; */
  flex-grow: 4;
}
/* FORM Styling */
.note-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
}
.note-form > div {
  display: flex;
  justify-content: space-between;
}
.note-form input[type="text"] {
  flex-grow: 1;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.note-form-title-container input[type="text"] {
  font-size: 1.5em;
  font-weight: bold;
}
.note-form-title-container button {
  font-size: 1.5em;
  min-width: 8rem;
}
.note-form-content-container {
  flex-grow: 1;
}
.note-form textarea {
  display: block;
  width: 100%;
  height: 100%;
}
.note-form div.helptext {
  display: inline-block;
  font-size: 0.75rem;
  color: #999;
}
/* CLASSES used globally */
.go-button {
  background-color: greenyellow;
  border: 1px solid green;
  color: darkgreen;
  transition: box-shadow 0.25s ease-in-out;
}
.go-button:hover,
.go-button:focus {
  box-shadow: 0 0 1em 0.5em greenyellow;
}
.symbol-button {
  width: var(--symbol-button-size);
  height: var(--symbol-button-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
i.bi-plus {
  width: var(--symbol-button-size);
  height: var(--symbol-button-size);
}
i.bi-plus::before {
  content: "";
  color: darkgreen;
  display: inline-block;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'> <path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/></svg>");
  background-repeat: no-repeat;
  width: var(--symbol-button-size);
  height: var(--symbol-button-size);
}
