<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Jotter: Your notes, your way{% endblock title %}</title>
<link rel="stylesheet" href="{% static "jotter.css" %}">
{% block extra_head %}{% endblock extra_head %}
</head>
<body>
{% block body_content %}
<header class="jotter_app_header">
  <h1>Jotter</h1>
</header>
<main class="note-ui">
  <section class="notebook-list">
    <header class="notebook-list-header">
      <h2>Notebooks</h2>
      <a class="go-button symbol-button add" aria-label="New Notebook" href="{% url "jotter_notebook_create" %}"><i class="bi-plus"></i></a>
    </header>
    {% for n in notebook_list %}
    {% if loop.first %}<ul>{% endif %}
      <li{% if n == notebook %} class="current"{% endif %} ><a class="note-ui-link" href="{% url "jotter_notebook_detail" notebook_slug=n.slug %}">{{ n.name }}</a></li>
    {% if loop.last %}</ul>{% endif %}
    {% empty %}
    <p>You don't have any notebooks yet.
      <a href="{% url "jotter_notebook_create" %}">Create a notebook</a> now.
    </p>
    {% endfor %}
  </section>
  <section class="note-list">
    <header class="note-list-header">
      <h2>Notes</h2>{% if notebook %}
      <a class="go-button symbol-button add" aria-label="New Note" href="{% url "jotter_note_create" notebook_slug=notebook.slug %}"><i class="bi-plus"></i></a>
      {% endif %}
    </header>
  {% block note_list %}
    {% for n in note_list %}
    {% if loop.first %}<ul>{% endif %}
    <li{%if n == note%} class="current"{%endif%}><a class="note-ui-link" href="{% url "jotter_note_update" notebook_slug=n.notebook.slug pk=n.pk %}">{{ n.title|default:"Untitled" }}</a></li>
    {% if loop.last %}</ul>{% endif %}
    {% empty %}
    {% if notebook %}
    <p>This notebook doesn't have any notes yet.
      <a href="{% url "jotter_note_create" notebook_slug=notebook.slug %}">Create a note</a>.
    </p>
    {% else %}
    <p>Select a notebook to see its notes.</p>
    {% endif %}
    {% endfor %}
  {% endblock note_list %}
  </section>
  <section class="note-detail">
    {% block note_detail %}
    {% endblock note_detail %}
  </section>
</main>


{% endblock body_content %}
</body>
</html>