{% extends "jotter/base.html" %}
{% block note_detail %}
<h1>{% if note %}Edit{% else %}Create{% endif %} a note</h1>
{{ form.errors }}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit">
</form>
{% if note %}
<form class="note-delete-form" action="{% url "jotter_note_delete" notebook_slug=note.notebook.slug pk=note.pk %}" method="post">
  {% csrf_token %}<input class="danger" type="submit" value="Delete Note">
</form>
{% endif %}
{% endblock note_detail %}