<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jotter: Your notes, your way</title>
</head>
<body>
  <section>
    <h1>Jotter: Your notes, your way</h1>
    <p>This Jotter server belongs to Vince. To make your own, look at
      <a href="https://github.com/veselosky/django-jotter">the source on Github</a>.
    </p>
    <p>If you have an account, you can <a href="/accounts/login/">log in</a> now.</p>
  </section>
</body>
</html>